numpy
scipy
pandas<2.1
pyarrow
scikit-learn
matplotlib
seaborn
openpyxl
python-dotenv
tqdm
binit
boto3
trace-minder @ git+https://github.com/Ruairi-osul/trace-minder.git
calcium-clear @ git+https://github.com/Ruairi-osul/calcium-clear.git
cc_blocks @ git+https://github.com/Ruairi-osul/cc-blocks.git
